


head {font-family: 'Permanent Marker', cursive; color:#FFFFFF}
body {font-family: 'Permanent Marker', cursive; color:#FFFFFF; background-color: #2562FF;}
p {text-align:center}
div {text-align:center; width:170px;height:25px;margin-left:630px;}
html {background: black;}
canvas {margin: auto;}

